<form action="/payment/results">
<label for="APR">APR</label>
<input id="APR" type="text" name = "user_APR" placeholder = "E.g. 5.42">
<br>
<label for="years">Number of years</label>
<input id="years" type="text" name="user_years" placeholder="How many years to repay?">
<br>
<label for="principal">Principal</label>
<input id="principal" type="text" name="user_pv" placeholder="How much principal?">
<br>
<button>Calculate monthly payment</button>
</form>
